<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>HEROKU web apps are so cool</h1>
  </div>

  <button id="sign" onclick="toggleSignIn()">Sign In</button>

  <form>
    <div>Post title: 
      <br>
      <input type="text" id="new-post-title" placeholder="title....">
      </input></div>
    <div>
    Post Message:
    <br>
    <textarea type="text" id="new-post-body" placeholder="message...."></textarea>
    </div>
    <button type="submit" id="refresh" onclick="handleMessageFormSubmit()">POST</button></form>

  <div id="stream"/>

</body>

</html>